.top{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.social_icons{
    margin: 10px;
    margin-top: 20px;
    margin-left: 18px;
}

.icon{
    width: 30px
}

.logo_image{
    width: 200px;
}

.least_products{
    margin-left: 550px;
    margin-top: 20px;
}

.search{
    margin: 10px;
    margin-top: 20px;
    margin-left: 750px;
}

.account{
    margin: 10px;
    margin-top: 28px;
}

.navigation{
    margin-left: 220px;
    margin-right: 60px;
}

.navbar{
    margin-left: 0px;
}

.navg{
    width: 100%;
}

.header{
    margin-top: 10px;
}

.card:hover{

    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}

